# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The public production URL of your app
APP_URL=https://bestflim.vercel.app

# MTN Rwanda MoMo Collections Production Environment Variables
MTN_API_USER=
MTN_API_KEY=
MTN_SUBSCRIPTION_KEY=
MTN_TARGET_ENVIRONMENT=mtnrwanda
MTN_API_BASE_URL=https://proxy.momoapi.mtn.com
MTN_CALLBACK_URL=https://bestflim.vercel.app/api/mtn/callback


